.categoryCard {
  background-color: #d6d5d5;
  width: 31%;
  padding: 5px;
  border-radius: 10px;
}
.categorycard__title {
  margin: 10px 15px;
}
.categoryCard__productsContainer {
  display: flex;
  flex-wrap: wrap;
}

@media (max-width: 450px) {
  .categoryCard {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-bottom: 30px;
  }
}
