.product {
  background-color: white;
  display: flex;
  flex-direction: column;
  width: calc(50% - 30px);
  padding: 10px;
  border-radius: 10px;
  margin: 5px;
}
.product__ratingContainer {
  display: flex;
  justify-content: flex-end;
}
.product__image {
  width: 100%;
}
.product__title {
  margin: 3px 0;
}
.product__priceContainer {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.product__price {
  color: red;
}
.product__addCart {
  padding: 3px;
  background-color: #ff9900;
  border-radius: 3px;
  cursor: pointer;
}
