.checkoutProduct {
  width: 100%;
  /* border-bottom: 1px solid lightgrey; */
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 0;
  margin: 10px 0;
  /* border-radius: 15px; */
}
.ckeckoutProduct__left {
  display: flex;
}
.checkoutProduct__image {
  width: 170px;
  height: 170px;
  object-fit: contain;
  margin-left: 30px;
  margin-right: 20px;
}
.checkoutProduct__info > * {
  margin-bottom: 5px;
}
.checkoutProduct__stockText {
  color: green;
  font-size: 16px;
}
.checkoutProduct__deliveryText {
  color: grey;
  font-size: 16px;
}
.checkoutProduct__removeFromCartButton {
  padding: 5px;
  background-color: #ff9900;
  font-weight: 600;
  border-radius: 3px;
}
.checkoutProduct__price {
  margin: 0 10px;
}
